@import "tailwindcss";

:root {
  --primary: #2dd4bf;
  --coral: #ff8a80;
  --muted-foreground: #64748b;
  --destructive: #ef4444;
  --dusty-blue: #6194f4;
  --warm-orange: #faa74f;
}

@theme {
  --breakpoint-xs: 480px;

  /* COLORS */
  --color-primary: var(--primary);
  --color-coral: var(--coral);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-dusty-blue: var(--dusty-blue);  
  --color-warm-orange: var(--warm-orange);
}

.icon {
  @apply rounded-xl p-1 transition-all duration-200 hover:scale-110;

  & svg {
    width: 1.75rem;
    height: 1.75rem;

    & path {
      stroke: var(--color-muted-foreground);
    }
  }

  &.moon:hover, &.moon:focus, &.moon:focus-visible{
    path{
      stroke: var(--color-dusty-blue);
    }
  }

  &.sun:hover, &.sun:focus, &.sun:focus-visible{
    path {
      stroke: var(--color-warm-orange);
    }
  }

  &.text{
    @apply flex items-center gap-1;

    &.primary-hover:hover, &.primary-hover:focus, &.primary-hover:focus-visible{
      path{
        stroke:var(--color-primary);
      }
    }

    &.error-hover:hover, &.error-hover:focus, &.error-hover:focus-visible{
      path{
        stroke:var(--color-destructive);
      }
    }
  }
}

.text {
  inline-size: max-content;
  
  @apply rounded-xl px-2 py-1 text-muted-foreground transition-all duration-200 
    hover:scale-110;

  &.primary-hover:hover, &.primary-hover:focus, &.primary-hover:focus-visible {
    @apply bg-primary/10 text-primary;
  }

  &.error-hover:hover, &.error-hover:focus, &.error-hover:focus-visible {
  @apply bg-destructive/10 text-destructive;
  }

  &.filled {
    @apply bg-gradient-to-r from-primary to-coral text-[#fafbfc];
  }
}
