@import url('https://fonts.googleapis.com/css2?family=Jua&family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


:root {
  --primary: #2dd4bf;
  --coral: #ff8a80;
}

@theme {
  --breakpoint-xs: 480px;

  /* COLORS */
  --color-primary: var(--primary);
  --color-coral: var(--coral);
  
}

.header-navbar {
  background-color: #fafbfc;

  @apply fixed flex flex-row top-0 w-full items-center justify-between px-2.5 py-0.5 sm:px-6 sm:py-1;
}

.header-container {
  @apply flex items-center gap-3.5 sm:gap-6;

  & .logo-wrapper {
    @apply flex items-end gap-1.5 pb-2.5 pt-1;

    & .mask-svg {
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      -webkit-mask-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &.mask-logo {
        mask-image: url(icons/logo.svg);
        -webkit-mask-image: url(icons/logo.svg);

        @apply bg-gradient-to-r from-coral to-primary w-[2.5rem] h-[2.5rem]
          sm:w-[2.75rem] sm:h-[2.75rem];
      }
    }

    & span {
      font-family: "Jua", sans-serif;
      font-weight: 400;
      font-style: normal;
      @apply font-semibold text-xl sm:text-2xl;
    }
  }

  & .elements {
    @apply hidden sm:flex items-center gap-4 pt-1.5;
  }
}

.mobile-menu {
  @apply sm:hidden mt-1.5;
}
